* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
}

.row-space-between {
    justify-content: space-between;
    margin: 60px 0;
}

.flex-vertical-centered {
    display: flex;
    align-items: center;
}

.flex-align-right {
    justify-content: flex-end;
}

.flex-align-center {
    display: flex;
    justify-content: center;
}

.col-sm {
    width: 20%;
}

.col-big {
    width: 60%;
}

.col-33 {
 width: calc(100% / 3 - 13px);
}

.contenuto {
    width: 100%;
    display: flex;
}

.card {
    flex-direction: column;
}

/* Header */

header {
    background-color: #ff6900;
    height: 70px;
}

.logo {
    width: 20%;
}

header ul {
    display: flex;
    list-style-type: none;
    color: #fff;
    font-weight: bold;
}

.contenuto-col-center {
    justify-content: center;
}

.contenuto-col-dx {
    justify-content: flex-end;
}

.contenuto-col-sx {
    justify-content: flex-start;
}

.contenuto-col-dx nav {
    width: 25%;
}

.contenuto-col-sx nav {
    width: 65%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Main */

main img {
    max-width:100%;
    max-height:100%;
}

.titolo-capo {
    text-transform: uppercase;
    font-size: 14px;
}

.prezzo {
    color: #ff0000;
    font-weight: bold;
}

.compare-at-price {
    text-decoration: line-through;
}

.sale-number, .sostenibilità {
    padding: 4px 10px;
    font-weight: bold;
    color: #fff;
}

.sale-number {
    background-color: #ff0000;
}

.sostenibilità {
    background-color: #008000;
}

.cuore i {
    display: inline-block;
    font-size: 26px;
    padding: 15px;
    background-color: #fff;
}

.card {
    position: relative;
}

.etichette {
    position: absolute;
    bottom: 15%;
}

.cuore {
    position: absolute;
    right: 0;
    top: 2%
}

.img-2 {
    width: 100%;
    position: absolute;
    opacity: 0;
}

.col:hover .img-2 {
    width: 100%;
    opacity: 1;
}

.col .cuore i:hover {
    color: red;
}



